Percent encoding normalisation

From RFC 3986 Section 2.1 [[LINK](https://datatracker.ietf.org/doc/html/rfc3986#section-2.1)]: "A percent-encoding mechanism is used to represent a data octet in a component when that octet's corresponding character is outside the allowed set or is being used as a delimiter of, or within, the component."

So if someone uses percent encoded chars in the URI, we should be able to de-encode it. 