Implement method DELETE

The DELETE method removes the target resource.

More specific: RFC 9110 Section 9.3.5: [DELETE](https://www.rfc-editor.org/rfc/rfc9110.html#name-delete)

Right now there is a conflict with this method and TargetRessourceHandler: if the target resource is a directory and the location doesn't have autoindex, the status code is set to Forbidden (403). This causes an error body to be constructed in ResponseBodyHandler.
The error code should probably be set later in ResponseBuilder.

HTTP/1.1 200 OK
Content-Type: application/json
Content-Length: 27

{
  "message": "Deleted"
}


HTTP/1.1 404 Not Found
Content-Type: application/json
Content-Length: 53

{
  "error": "Resource not found",
  "status": 404
}


HTTP/1.1 403 Forbidden
Content-Type: application/json
Content-Length: 47

{
  "error": "Permission denied",
  "status": 403
}
